In [3]:
import dill
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import NVARCHAR

def csv_it(dataframe, filebase):
    dataframe.to_csv('./csv/'+filebase+'.csv', sep=',', index=False, encoding='utf-8')
    return

def pkl_it(dataframe, filebase):
    with open('./pkl/'+filebase+'.pkl', 'wb') as fh:
        dill.dump(dataframe, fh)

    return

def sql_it(dataframe, filebase, dbname='zika'): #check!
    postgres_str = 'postgresql://abhijit:{}@127.0.0.1:6742/{}'.format(POSTGRES_PWD, dbname)
    engine = create_engine(postgres_str)
    dataframe.to_sql(filebase, engine, if_exists='replace', dtype={col_name: NVARCHAR for col_name in filebase})
    return

def save_it(dataframe, filebase, dbname='zika'):
    csv_it(dataframe, filebase)
    pkl_it(dataframe, filebase)
    sql_it(dataframe, 'sql_' + filebase, dbname=dbname)
    return

In [4]:
import numpy as np
import os
import pandas as pd
import dill
from datetime import timedelta
from dateutil.parser import parser
import sys
import os
f = 'csv_pkl_sql.py'
for path, dirs, files in os.walk(os.path.expanduser('~/')):    
    if f in files:
        dir_ = path
        break
os.chdir(dir_)
try:
    from csv_pkl_sql import save_it, csv_it, pkl_it
except: 
    print("Change to the project directory")
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import pandas as pd
import numpy as np
from csv_pkl_sql import csv_it, sql_it
#import cPickle as pickle

from osgeo import gdal

In [6]:
# Import the latitude and longitude data
lat_long_data = pd.read_csv('./csv/01_latitude_longitude_google.csv')


# # Import the geoTIF map
# ds = ('./gpw_population_density/gpw-v4-population-density_2020.tif')

In [7]:
# print(ds)

In [8]:
# import pickle
# # rows = ds.RasterYSize
# # cols = ds.RasterXSize

# # transform = ds.GetGeoTransform()
# # xOrigin = transform[0]
# # yOrigin = transform[3]
# # pixelWidth = transform[1]
# # pixelHeight = transform[5]


# # band = ds.GetRasterBand(1)


# # def get_population_density(latitude, longitude, 
# #                            xOrigin=xOrigin, yOrigin=yOrigin,
# #                            pixelWidth=pixelWidth, pixelHeight=pixelHeight,
# #                            band=band):

#     # # Single point, x=longitude, y=latitude

# #     x = longitude
# #     y = latitude

#     # This reads three pixels in x- and y- direction
# #     try:
# #         #  read 3 x 3 region
# #         size = 100

# #         dist_matrix = np.meshgrid(np.arange(-size, size+1), 
# #                                   np.arange(-size, size+1))
# #         dist_matrix = np.sqrt((dist_matrix[0]**2 + dist_matrix[1]**2))
# #         sort_order = dist_matrix.ravel().argsort()

# #         xOffset = int((x - xOrigin) / pixelWidth) - size
# #         yOffset = int((y - yOrigin) / pixelHeight) - size

# #         data = band.ReadAsArray(xOffset, yOffset, 2*size+1, 2*size+1)
# #         data_sort = data.ravel()[sort_order]

# #         density = data_sort[data_sort>0][:9].mean()
# #     except:
# #         density = np.NaN

# #     return density


# lat_long_data['density_per_km'] = lat_long_data.apply(lambda x: get_population_density(x.latitude, x.longitude), axis=1)

# # #lat_long_data[['location','density_per_km']].to_csv('../csv/06_population_density.csv')
# # csv_it(lat_long_data[['location','density_per_km']], '06_population_density')

# # with open('./pkl/06_population_density.pkl', 'wb') as fh:
# #     pickle.dump(lat_long_data[['location','density_per_km']], fh)

# # #sql_it(lat_long_data[['location','density_per_km']], '06_population_density')

In [9]:
lat_long_data

,location,location_type,country,province,county,city,latitude,longitude
0,Argentina-Buenos_Aires,province,Argentina,Buenos Aires,NaN,NaN,-34.603684,-58.381559
1,Argentina-CABA,province,Argentina,Ciudad de Buenos Aires,NaN,NaN,-34.603684,-58.381559
2,Argentina-Cordoba,province,Argentina,Cordoba,NaN,NaN,-31.420083,-64.188776
3,Argentina-Entre_Rios,province,Argentina,Entre Rios,NaN,NaN,-31.774665,-60.495646
4,Argentina-Santa_Fe,province,Argentina,Santa Fe,NaN,NaN,-31.610658,-60.697294
5,Argentina-Chaco,province,Argentina,Chaco,NaN,NaN,-27.425717,-59.024378
6,Argentina-Corrientes,province,Argentina,Corrientes,NaN,NaN,-27.469213,-58.830635
7,Argentina-Formosa,province,Argentina,Formosa,NaN,NaN,-26.185777,-58.175567
8,Argentina-Misiones,province,Argentina,Misiones,NaN,NaN,-27.426925,-55.946708
9,Argentina-Catamarca,province,Argentina,Catamarca,NaN,NaN,-28.469581,-65.779544
10,Argentina-Jujuy,province,Argentina,Jujuy,NaN,NaN,-24.184340,-65.302177
11,Argentina-Salta,province,Argentina,Salta,NaN,NaN,-24.782127,-65.423198
12,Argentina-Sgo_Del_Estero,province,Argentina,Santiago Del Estero,NaN,NaN,-27.783357,-64.264167
13,Argentina-Tucuman,province,Argentina,Tucuman,NaN,NaN,-26.808285,-65.217590
14,Argentina-La_Rioja,province,Argentina,La Rioja,NaN,NaN,-29.413454,-66.856458
15,Argentina-San_Luis,province,Argentina,San Luis,NaN,NaN,-33.301727,-66.337752
16,Argentina-Mendoza,province,Argentina,Mendoza,NaN,NaN,-32.889459,-68.845839
17,Argentina-San_Juan,province,Argentina,San Juan,NaN,NaN,-31.535107,-68.538594
18,Argentina-Chubut,province,Argentina,Chubut,NaN,NaN,-43.293425,-65.111482
19,Argentina-La_Pampa,province,Argentina,La Pampa,NaN,NaN,-36.614757,-64.283921
20,Argentina-Rio_Negro,province,Argentina,Rio Negro,NaN,NaN,-40.826143,-63.026634
21,Argentina-Santa_Cruz,province,Argentina,Santa Cruz,NaN,NaN,-51.635282,-69.247435
22,Argentina-Neuquen,province,Argentina,Neuquen,NaN,NaN,-38.951678,-68.059189
23,Argentina-Tierra_del_Fuego,province,Argentina,Tierra del Fuego,NaN,NaN,-54.805400,-68.324206
24,Brazil-Alagoas,province,Brazil,Alagoas,NaN,NaN,-9.571306,-36.781951
25,Brazil-Bahia,province,Brazil,Bahia,NaN,NaN,-12.579738,-41.700727
26,Brazil-Ceara,province,Brazil,Ceara,NaN,NaN,-5.498398,-39.320624
27,Brazil-Maranhao,province,Brazil,Maranhao,NaN,NaN,-4.960950,-45.274416
28,Brazil-Paraiba,province,Brazil,Paraiba,NaN,NaN,-7.239961,-36.781951
29,Brazil-Pernambuco,province,Brazil,Pernambuco,NaN,NaN,-8.813717,-36.954107
...,...,...,...,...,...,...,...,...
1684,United_States-Florida-Martin_County,county,United States,Florida,Martin,Martin County,36.343397,-88.850338
1685,United_States-Florida-Miami_Dade_County,county,United States,Florida,Miami Dade,Miami Dade County,25.551603,-80.632692
1686,United_States-Florida-Monroe_County,county,United States,Florida,Monroe,Monroe County,32.509311,-92.119301
1687,United_States-Florida-Nassau_County,county,United States,Florida,Nassau,Nassau County,25.047984,-77.355413
1688,United_States-Florida-Okaloosa_County,county,United States,Florida,Okaloosa,Okaloosa County,30.577340,-86.661108
1689,United_States-Florida-Okeechobee_County,county,United States,Florida,Okeechobee,Okeechobee County,27.243935,-80.829783
1690,United_States-Florida-Orange_County,county,United States,Florida,Orange,Orange County,33.787914,-117.853101
1691,United_States-Florida-Osceola_County,county,United States,Florida,Osceola,Osceola County,45.320520,-92.704930
1692,United_States-Florida-PalmBeach_County,county,United States,Florida,PalmBeach,PalmBeach County,26.705621,-80.036430
1693,United_States-Florida-Pasco_County,county,United States,Florida,Pasco,Pasco County,46.230505,-119.092232
1694,United_States-Florida-Pinellas_County,county,United States,Florida,Pinellas,Pinellas County,27.876394,-82.777858
1695,United_States-Florida-Polk_County,county,United States,Florida,Polk,Polk County,27.861735,-81.691156
1696,United_States-Florida-Putnam_County,county,United States,Florida,Putnam,Putnam County,41.904601,-71.868992
1697,United_States-Florida-SantaRosa_County,county,United States,Florida,SantaRosa,SantaRosa County,38.440429,-122.714055
1698,United_States-Florida-Sarasota_County,county,United States,Florida,Sarasota,Sarasota County,27.336435,-82.530653
1699,United_States-Florida-Seminole_County,county,United States,Florida,Seminole,Seminole County,27.839747,-82.791213
1700,United_States-Florida-StJohns_County,county,United States,Florida,StJohns,StJohns County,18.336811,-64.728095
1701,United_States-Florida-StLucie_County,county,United States,Florida,StLucie,StLucie County,27.322556,-80.543845
1702,United_States-Florida-Sumter_County,county,United States,Florida,Sumter,Sumter County,33.920435,-80.341469
1703,United_States-Florida-Suwannee_County,county,United States,Florida,Suwannee,Suwannee County,30.248510,-82.993161
1704,United_States-Florida-Taylor_County,county,United States,Florida,Taylor,Taylor County,42.240872,-83.269651
1705,United_States-Florida-Union_County,county,United States,Florida,Union,Union County,45.233412,-118.041063
1706,United_States-Florida-Volusia_County,county,United States,Florida,Volusia,Volusia County,29.027984,-81.075466
1707,United_States-Florida-Wakulla_County,county,United States,Florida,Wakulla,Wakulla County,30.130169,-84.354205
1708,United_States-Florida-Walton_County,county,United States,Florida,Walton,Walton County,38.875619,-84.610221
1709,United_States-Florida-Washington_County,county,United States,Florida,Washington,Washington County,47.751074,-120.740139
1710,United_States_Virgin_Islands,province,United States,Virgin Islands,NaN,NaN,18.335765,-64.896335
1711,United_States_Virgin_Islands-Saint_Thomas,county,United States,Virgin Islands,Saint Thomas,NaN,18.338096,-64.894095
1712,United_States_Virgin_Islands-Saint_Croix,county,United States,Virgin Islands,Saint Croix,NaN,17.724597,-64.834799
1713,United_States_Virgin_Islands-Saint_John,county,United States,Virgin Islands,Saint John,NaN,18.356343,-64.700136

In [10]:
import pandas as pd
import numpy as np
import dill
from datetime import timedelta

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns
with open('./pkl/00_cleaned_city_names.pkl', 'rb') as fh:
    location_key = dill.load(fh)
location_key.head(1)

                 location location_type    country      province county  city
0  Argentina-Buenos_Aires      province  Argentina  Buenos Aires   None  None

In [12]:
with open('./pkl/01_latitude_longitude_google.pkl', 'rb') as fh:
    lat_long = dill.load(fh)
lat_long.head(1)
lat_long = lat_long[['location','latitude','longitude']]
location_key.shape, lat_long.shape
location = pd.merge(location_key, lat_long, on='location', how='inner')
location.head(1)

,location,location_type,country,province,county,city,latitude,longitude
0,Argentina-Buenos_Aires,province,Argentina,Buenos Aires,None,None,-34.603684,-58.381559

In [13]:
location.shape

(1724, 8)

In [14]:
save_it(location[['location','country']], '11_feature_engineering_location')

In [15]:
with open('./pkl/02_airport_information_fallingrain.pkl', 'rb') as fh:
    airport = dill.load(fh)
airport.head(1)

,Airlines,city,FAA,IATA,ICAO,kind,latitude,longitude,max_runway,name,country,state
70,4,BAHIA BLANCA,NaN,BHI,SAZB,Medium,-38.725,-62.169,8579.0,COMANDANTE ESPORA,Argentina,NaN

In [16]:
airport = airport[['city', 'FAA', 'IATA', 'ICAO', 'kind', 'latitude',
       'longitude', 'max_runway', 'name', 'country', 'state']]
airport.head(1)

,city,FAA,IATA,ICAO,kind,latitude,longitude,max_runway,name,country,state
70,BAHIA BLANCA,NaN,BHI,SAZB,Medium,-38.725,-62.169,8579.0,COMANDANTE ESPORA,Argentina,NaN

In [17]:
with open('./pkl/04_merged_latitude_longitude_airport_checkpoint.pkl', 'rb') as fh:
    airport2 = dill.load(fh)
airport2.head(1)
airport2 = airport2[['location', 'latitude', 'longitude', 'airport_index', 'country', 'name', 'FAA', 'IATA',
       'ICAO']]
airport.shape, airport2.shape

((2247, 11), (1714, 9))

In [18]:
airport.kind.unique()
save_it(airport, '11_feature_engineering_airport')

In [19]:
# Closest medium or large airport
airport_coords = airport[['latitude', 'longitude']].values[np.newaxis, :]
places_coords = np.rollaxis(lat_long[['latitude','longitude']].values[np.newaxis, :], 0, -1)
dist_coords = ((places_coords - airport_coords)**2).sum(axis=-1)
min_dist = dist_coords.min(axis=1)

airport_distance = lat_long[['location']].copy()
airport_distance['airport_dist_any'] = min_dist

# Closest large airport
airport_coords = airport.loc[airport.kind=='Large', 
                             ['latitude', 'longitude']].values[np.newaxis, :]
places_coords = np.rollaxis(lat_long[['latitude','longitude']].values[np.newaxis, :], 0, -1)
dist_coords = ((places_coords - airport_coords)**2).sum(axis=-1)
min_dist = dist_coords.min(axis=1)

airport_distance['airport_dist_large'] = min_dist
airport_distance.head()

                 location  airport_dist_any  airport_dist_large
0  Argentina-Buenos_Aires          0.003183            0.071514
1          Argentina-CABA          0.003183            0.071514
2       Argentina-Cordoba          0.009602           43.526915
3    Argentina-Entre_Rios          0.000658           13.126461
4      Argentina-Santa_Fe          0.023428           14.983910

In [20]:
save_it(airport_distance, '11_feature_engineering_airport_distance')

In [21]:
with open('./pkl/04_weekly_weather.pkl', 'rb') as fh:
    weather = dill.load(fh)

weather.head(2)

,date,max_temp,max_temp1,max_temp2,location,mean_temp,mean_temp1,mean_temp2,min_temp,min_temp1,min_temp2,dew_point,dew_point1,dew_point2,precipitation,precipitation1,precipitation2,wind,wind1,wind2
0,2015-11-28,94.0,94.0,94.0,Mexico-Guerrero,84.0,84.0,84.0,73.0,75.0,74.0,75.0,78.0,77.0,1.22,0.00,0.0,4.0,4.0,4.0
1,2015-12-05,93.0,94.0,94.0,Mexico-Guerrero,82.0,84.0,84.0,72.0,73.0,75.0,74.0,75.0,78.0,0.00,1.22,0.0,4.0,4.0,4.0

In [22]:
save_it(weather, '11_feature_engineering_weather')

In [23]:
with open('./pkl/05_mosquito_sightings.pkl', 'rb') as fh:
    mosquito = dill.load(fh)
mosquito.head(1)

,vector,occurrence_id,source_type,location_type,polygon_admin,latitude,longitude,year,country,country_id,gaul_ad0,status
34478,Aedes albopictus,34479,unpublished,point,-999,22.89,120.44,2006,Taiwan,TWN,886,NaN

In [24]:
with open('./pkl/06_population_density.pkl', 'rb') as fh:
    population = dill.load(fh)
population.head(1)

                 location  density_per_km
0  Argentina-Buenos_Aires    12625.800781

In [25]:
save_it(population, '11_feature_engineering_population')